*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}

@font-face {
  font-family: "KoPubBatang";
  src: url("../fonts/KoPubBatang-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KoPubBatang";
  src: url("../fonts/KoPubBatang-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KoPubBatang";
  src: url("../fonts/KoPubBatang-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.8125rem 0;
  gap: 0.625rem;
}
.header__logo {
  aspect-ratio: 213/33;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 6;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .icon-menu {
  display: block;
  width: 26px;
  height: 20px;
  position: relative;
  z-index: 6;
  background: transparent;
  border: none;
  cursor: pointer;
}
.header .icon-menu span, .header .icon-menu::before, .header .icon-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2C2C2C;
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header .icon-menu span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header .icon-menu::before {
  top: 0;
}
.header .icon-menu::after {
  bottom: 0;
}
body.menu-open .header .icon-menu span {
  width: 0;
}
body.menu-open .header .icon-menu::before {
  -webkit-transform: rotate(45deg) translateY(-2px);
      -ms-transform: rotate(45deg) translateY(-2px);
          transform: rotate(45deg) translateY(-2px);
  top: 50%;
}
body.menu-open .header .icon-menu::after {
  -webkit-transform: rotate(-45deg) translateY(2px);
      -ms-transform: rotate(-45deg) translateY(2px);
          transform: rotate(-45deg) translateY(2px);
  bottom: 50%;
}
.header .menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5625rem;
  position: fixed;
  top: 5.6875rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 5.6875rem);
  background-color: #F8F3EC;
  padding: 3.125rem 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 999;
  overflow: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
body.menu-open .header .menu__body {
  left: 0;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header .menu__body::before {
  content: "";
  position: fixed;
  top: 5.6875rem;
  left: -100%;
  width: 100%;
  height: 5.6875rem;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
.header .menu__item {
  font-family: "Shanti";
  font-size: 1.125rem;
  line-height: 1.2;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  padding: 0.625rem 0;
}
@media (min-width: 48em) {
  .header .menu__item {
    padding: 0 0;
    font-size: 0.9375rem;
  }
}
.header .menu__item a {
  color: inherit;
}
.header .menu__item a:hover {
  text-decoration: underline;
  color: #B0A496;
}
.header__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.125rem;
}
@media (min-width: 32em) {
  .header__active {
    gap: 1.6875rem;
  }
}
.header__active--desktop {
  display: none;
}
@media (min-width: 32em) {
  .header__active--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__active--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (min-width: 48em) {
  .header__active--mobile {
    display: none;
  }
}
.header__item {
  width: 1.5rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.header__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__item img:hover {
  opacity: 0.5;
}
.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-backdrop-filter: blur(113.65px);
          backdrop-filter: blur(113.65px);
  z-index: -1;
}
@media (min-width: 48em) {
  .header .icon-menu {
    display: none;
  }
  .header .menu__body {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    overflow: hidden;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3.0625rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "KoPubBatang", serif;
  font-size: 1.0625rem;
  color: #2C2C2C;
  background-color: #F8F3EC;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}