<header class="header">
  <div class="header__container">
    <div class="header__body">
      <nav class="header__nav menu">
        <button class="icon-menu" type="button">
          <span></span>
        </button>
        <div class="menu__body">
          <ul class="menu__list">
            <li class="menu__item"><a href="#">About Us</a></li>
            <li class="menu__item"><a href="/blossomia/catalog">Catalog</a></li>
            <li class="menu__item"><a href="#">Contacts</a></li>
          </ul>
          <div class="header__active header__active--mobile">
            <button class="header__item">
              <img src="../images/icon/search.svg" alt="Search icon" />
            </button>
            <button class="header__item">
              <img src="../images/icon/favourite.svg" alt="Favourite icon" />
            </button>
            <a class="header__item" href="#"
              ><img src="../images/icon/user.svg" alt="User account icon"
            /></a>
            <a class="header__item" href="/blossomia/cart"
              ><img src="../images/icon/cart.svg" alt="Cart icon"
            /></a>
          </div>
        </div>
      </nav>

      <a href="/blossomia" class="header__logo">
        <img src="/images/blossomia-logo.svg" alt="Blossomia" />
      </a>

      <div class="header__active header__active--desktop">
        <button class="header__item">
          <img src="../images/icon/search.svg" alt="Search icon" />
        </button>
        <button class="header__item">
          <img src="../images/icon/favourite.svg" alt="Favourite icon" />
        </button>
        <a class="header__item" href="#"
          ><img src="../images/icon/user.svg" alt="User account icon"
        /></a>
        <a class="header__item" href="/blossomia/cart"
          ><img src="../images/icon/cart.svg" alt="Cart icon"
        /></a>
      </div>
      <div class="header__cart-mb">
        <a class="header__item" href="/blossomia/cart"
          ><img src="../images/icon/cart.svg" alt="Cart icon"
        /></a>
      </div>
    </div>
  </div>
</header>
